<%= render 'shared/flash_messages' %>
<div class="error">
  <span class="glyphicon glyphicon-fire error__icon" aria-hidden="true"></span>
  <h1 class="error__heading">
    <%= heading %>
  </h1>
  <p class="error__message">
    <%= message %>
  </p>
</div>
