<% provide(:title, "Edit Course - ") %>
<h1>Edit Course <%= @course.name %></h1>
<p class="lead">Fill out the following fields below to create a new course.</p>
<%= render 'courses/form', course: @course, url: course_path(@course), method: :put %>